 @tailwind base;
 @tailwind components;
 @tailwind utilities;


 @font-face {
   font-display: block;
   font-family: Avenir-LT-W01_35-Light1475496;
   src: url(//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix);
   src: url(//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix) format("eot"), url(//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2) format("woff2"), url(//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff) format("woff"), url(//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf) format("truetype"), url(//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c) format("svg")
 }

 @font-face {
   font-family: "Helvetica-W01-Light";
   src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/03805817-4611-4dbc-8c65-0f73031c3973.woff") format("woff");
 }


 @font-face {
   font-display: block;
   font-family: "sans-serif";
   font-weight: 700;
   src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/oswald/v16/dI-qzxlKVQA6TUC5RKSb31tXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
     url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff/s/oswald/v16/dI-qzxlKVQA6TUC5RKSb3z8E0i7KZn-EPnyo3HZu7kw.woff") format("woff")
 }

 @font-face {
   font-display: block;
   font-family: 'Oswald';
   font-style: normal;
   font-weight: 400;
   src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/oswald/v29/TK3iWkUHHAIjg752FD8Gl-1PK62t.woff2") format('woff2');
   unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
 }

 @layer components {
   .btn-main {
     @apply text-white;
     @apply text-sm;
     @apply font-medium;
     @apply bg-blue-site;
     @apply font-site;
     @apply hover:bg-purple-800;
     @apply focus:outline-none;
     @apply focus:ring-4;
     @apply focus:ring-gray-300;
     @apply rounded-none;
     @apply px-6;
     @apply py-3;
   }

   .btn-main[disabled] {
     @apply hover:text-white;
     @apply bg-gray-400;
     @apply border-gray-400;
     @apply hover:bg-gray-400;
   }

   .font-site {
     font-family: sans-serif;
   }

   .font-helvetica {
     font-family: Helvetica-W01-Light, sans-serif;
   }

   .input {
     @apply block;
     @apply w-full;
     @apply border-0;
     @apply border-b;
     @apply border-blue-site;
     @apply focus:outline-none;
     @apply mb-4;
   }

   h1,
   .title {
     @apply text-4xl;
     @apply font-bold;
   }

   h2 {
     @apply text-base;
     @apply sm:text-xl;
   }
 }

 html,
 body {
   padding: 0;
   margin: 0;
   font: normal normal normal 18px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
   @apply text-gray-800;
   @apply font-helvetica;
 }

 a {
   color: inherit;
   text-decoration: none;
 }

 * {
   box-sizing: border-box;
   /* font-family: 'serif'; */
 }

 .text-blue-site {
   /* color: #70b8d6 */
   color: #D2649A;
 }

 .border-blue-site {
   /* border-color: #70b8d6 */
   border-color: #D2649A;
 }

 .text-purple-site {
   --tw-text-opacity: 1;
   color: rgb(210 100 154 / var(--tw-bg-opacity));
 }

 .btn-main {
   --tw-text-opacity: 1;
   color: rgb(255 255 255 / var(--tw-text-opacity));
   font-size: 0.875rem;
   line-height: 1.25rem;
   font-weight: 500;
   --tw-bg-opacity: 1;
   background-color: rgb(210 100 154 / var(--tw-bg-opacity));
   font-family: sans-serif;
 }

 .bg-blue-site {
   --tw-bg-opacity: 1;
   background-color: rgb(210 100 154 / var(--tw-bg-opacity));
 }

 .Countdown {
   margin: 0px auto 10px auto;
   padding-bottom: 20px;
   font-family: sans-serif;
 }

 .Countdown-col {
   display: inline-block;
   font-family: sans-serif;
 }

 .Countdown-col-element {
   display: inline-block;
   margin: 0 25px;
   display: -ms-flexbox;
   font-size: 15px;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   font-family: sans-serif;

 }

 .Countdown-col-element strong {
   color: rgb(210 100 154 / var(--tw-bg-opacity));
   font-size: 34px;
   padding-bottom: 2px;
   padding-top: 18px;
   font-family: sans-serif;
   font-weight: 500;
 }

 .bg-purple-site {
   --tw-bg-opacity: 1;
   background-color: rgb(210 100 154);
 }

 .parisienne-regular {
   font-family: "Parisienne", cursive;
   font-weight: 400;
   font-style: normal;

 }

 .rouge-script-regular {
   font-family: "Rouge Script", cursive;
   font-weight: 500;
   font-style: normal;
 }

 .Mui-focused {
   color: #00000099 !important;
 }

 input:hover~.css-16mozzi {
   background-color: #D2649A;
 }

 .css-1nmgipy-MuiInputBase-root-MuiInput-root::after {
   border-bottom: 2px solid #D2649A;
 }

 [type='text']:focus,
 [type='email']:focus,
 [type='url']:focus,
 [type='password']:focus,
 [type='number']:focus,
 [type='date']:focus,
 [type='datetime-local']:focus,
 [type='month']:focus,
 [type='search']:focus,
 [type='tel']:focus,
 [type='time']:focus,
 [type='week']:focus,
 [multiple]:focus,
 textarea:focus,
 select:focus {
   outline: 0px solid transparent;
   outline-offset: 0px;
   --tw-ring-inset: var(--tw-empty,
       /*!*/
       /*!*/
     );
   --tw-ring-offset-width: 0px;
   --tw-ring-offset-color: #fff;
   --tw-ring-color: #D2649A;
   --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
   --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
   box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
   border-color: #D2649A;
 }

 textarea#filled-multiline-flexible {
   color: #30303099;
   font-size: 18px;
 }

 span.MuiTypography-root {
   color: #D2649A;
   font-weight: 400;
   font-size: 20px;
   margin-bottom: -9px;
   margin-top: 12px;
 }

 label.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementTop {
   margin-left: 10px;
   margin-right: 10px;
 }

 .btn-main:hover {
   --tw-bg-opacity: 1;
   background-color: rgb(210 100 154);
 }

 @media (max-width: 640px) {
   .Countdown-col-element {
     margin: 0 10px !important;
   }

   .Countdown-col-element strong {
     font-size: 32px !important;
     padding-top: 10px !important;
   }

   .Countdown-col-element span {
     font-size: 14px !important;
   }
 }